body{

    background-color: rgb(84, 26, 131);
    background-image: linear-gradient(to bottom, rgba(168, 154, 76, 0), rgba(241, 237, 7, 0.226));
    color: white;
    margin: 0;
    padding: 0;
    
    
    }
    
    header{
    
        position:relative;
        height: 8vh;
        border: 3px solid white;
        background-image: url('PurRetPat.gif');
        background-size: 40%;
        margin: 0;
        padding: 0;
    
    }
    
    .logo{
    
        position: relative;
        display: block;
        margin-left: auto;
        width: 29%;
        transform: rotate(7deg);
        margin-right: 1%;
    
    }
    
    
    
    .Collg{
    
        position: relative;
        display: block;
        float: right;
        margin-top: -29%;
        width: 27%;
        margin-right: 37%;
    }
    
    .lists{
        list-style-type: none;
        margin-top: -13.7%;
    }
    
    .facebook{
    
        width: 10%;
        position: relative;
    
    }
    
    .twitter{
    
        width: 10%;
        position: relative;
    
    }
    
    .twittern{
    
        width: 10%;
        position: relative;
    
    }
    
    .instagram{
    
        width: 10%;
        position: relative;
    
    }
    
    
    /* SPACE */
    
    
    .facTe{
    
        width: 13%;
        position: relative;
    
    }
    
    .twitTe{
    
        width: 13%;
        position: relative;
    
    }
    
    .twitTen{
    
        width: 13%;
        position: relative;
    
    }
    
    .insTe{
    
        width: 13%;
        position: relative;
    
    }
    
    #boxes{
    
    
        
    }
    
    #boxes:hover{
    
        transform: rotate(-8deg);
        position: relative;
        margin-left: 3%;
    
    
    }
    
    .funny{
    
        position: relative;
        display: block;
        float: right;
        margin-top: -15%;
        margin-right: 10%;
        display: block;
        cursor:grab;
    
    }
    
    .funny summary{
        list-style-type: '👇 '
    }

    
    
    .cmp{
    
    cursor: pointer;
    
    }
    
    .cat {
        color: aqua;
    }
        

@media only screen and (max-width:750px) {

    .logo{
    
        position: relative;
        display: block;
        margin-left: auto;
        width: 45%;
        transform: rotate(7deg);
        margin-right: 5%;
    }

    .facebook{

        width: 27%;
        position: relative;
    
    }
    
    .twitter{
    
        width: 27%;
        position: relative;
    
    }
    
    .twittern{
    
        width: 27%;
        position: relative;
    
    }
    
    .instagram{
    
        width: 27%;
        position: relative;
    
    }

    .Collg{

        position: relative;
        display: block;
        float: right;
        width: 65%;
        margin-top: 9%;
        margin-right: 17%;
    }

    .funny{

        position: relative;
        display: block;
        float: right;
        margin-top: -80%;
        margin-right: 10%;
        display: block;
        cursor:grab;
     }

        header{
    
            position:relative;
            height: 5vh;
            border: 3px solid white;
            background-image: url('PurRetPat.gif');
            background-size: 40%;
            margin: 0;
            padding: 0;
    }

    .facTe{
    
        width: 40%;
        position: relative;
    
    }
    
    .twitTe{
    
        width: 40%;
        position: relative;
    
    }
    
    .twitTen{
    
        width: 40%;
        position: relative;
    
    }
    
    .{
    
        width: 40%;
        position: relative;
    
    }
    
    .funny{

        font-size: 10px;
    }

}


